[submodule "opencv/opencv_tutorials"]
	path = opencv/opencv_tutorials
	url = https://github.com/JimmyHHua/opencv_tutorials.git
[submodule "robotics/ros2/ros2-code-examples"]
	path = robotics/ros2/ros2-code-examples
	url = https://github.com/alsora/ros2-code-examples.git
[submodule "robotics/source/rclcpp"]
	path = robotics/source/rclcpp
	url = https://github.com/ros2/rclcpp.git
[submodule "robotics/source/rviz"]
	path = robotics/source/rviz
	url = https://github.com/ros2/rviz.git
[submodule "robotics/ros2/demos"]
	path = robotics/ros2/demos
	url = https://github.com/ros2/demos.git
[submodule "robotics/source/rosbag2"]
	path = robotics/source/rosbag2
	url = https://github.com/ros2/rosbag2.git
[submodule "fairygui/FairyGUI-threejs"]
	path = fairygui/FairyGUI-threejs
	url = https://github.com/fairygui/FairyGUI-threejs.git
[submodule "puerts/puerts"]
	path = puerts/puerts
	url = https://github.com/Tencent/puerts.git
[submodule "opencv/learnopencv"]
	path = opencv/learnopencv
	url = https://github.com/spmallick/learnopencv.git
[submodule "robotics/slambook2"]
	path = robotics/slambook2
	url = https://github.com/gaoxiang12/slambook2.git
[submodule "robotics/rviz2/visualization_tutorial"]
	path = robotics/rviz2/visualization_tutorial
	url = https://github.com/ros-visualization/visualization_tutorials.git
[submodule "robotics/rviz2/rviz_2d_overlay_plugins"]
	path = robotics/rviz2/rviz_2d_overlay_plugins
	url = https://github.com/teamspatzenhirn/rviz_2d_overlay_plugins.git
[submodule "robotics/rviz2/cyberdog_rviz2_plugin"]
	path = robotics/rviz2/cyberdog_rviz2_plugin
	url = https://github.com/linzhibo/Cyberdog_rviz2_plugin.git
[submodule "robotics/rviz2/rviz_plugin_tutorial"]
	path = robotics/rviz2/rviz_plugin_tutorial
	url = https://github.com/MetroRobots/rviz_plugin_tutorial.git
[submodule "robotics/ros-perception/image_transport_plugins"]
	path = robotics/ros-perception/image_transport_plugins
	url = https://github.com/ros-perception/image_transport_plugins.git
[submodule "robotics/rviz2/rviz_sonar_image"]
	path = robotics/rviz2/rviz_sonar_image
	url = https://github.com/rolker/rviz_sonar_image.git
